<h1> About PIC </h1>

<p>PIC is a service that helps you practice and remember more of what you are learning so you don't have to study so much.</p>
<p>PIC sends you intelligent questions based on what you are trying to remember</p>
<p>Simply decide: what, how and when you want the messages sent to you</p>