<h1>How PIC works</h1>
<p>Simply add what you want to remember to the system</p>

<p>Then create a question</p>

<p>Decide when and how you want to receive the question</p>

<p>And start remembering by practicing</p>